In [7]:
import os
os.chdir('/Users/thom/Personnel/Scolaire/MIA/snake2-beta-insa-main/data/teamExperiments')

In [8]:
from evaluateSets.compareDistributions import *

In [9]:
pathToTrain = 'createdSets/Task 22/train'

In [10]:
mySets = getDatasetsFromFilePath(pathToTrain)

In [11]:
mySets['4']

            0         1         2         3         4         5         6
0    0.283335  0.350597  0.340521  0.405706  0.427996  0.335429  0.326899
1    0.506925  0.379493  0.402070  0.302336  0.340324  0.174405  0.246000
2    0.304640  0.386993  0.000000  0.000000  0.000000  0.000000  0.000000
3    0.271910  0.055988  0.067428  0.141448  0.125462  0.102961  0.140312
4    0.101567  0.043669  0.300352  0.049715  0.265774  0.035199  0.056716
..        ...       ...       ...       ...       ...       ...       ...
995  0.113083  0.108007  0.045897  0.196300  0.068868  0.109961  0.273759
996  0.286836  0.366159  0.308352  0.277290  0.000000  0.000000  0.269031
997  0.307822  0.255622  0.524789  0.325020  0.399797  0.622916  0.585490
998  0.000000  0.000000  0.179723  0.297791  0.536836  0.452452  0.424541
999  0.594400  0.481817  0.446770  0.266152  0.658479  0.562610  0.569807

[1000 rows x 7 columns]